<form method="post" class="login-form">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" name="username" class="form-control" placeholder="Username" required>
    </div>
    <div class="input-group mb-3">
        <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    <p class="text-center mt-3">Don't have an account? <a href="{% url "register" %}" class="btn btn-link">Sign Up</a></p>
</form>

<style>
    .login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.login-form p {
    margin-top: 20px;
    font-size: 14px;
}

.login-form p a {
    color: #007bff;
    text-decoration: none;
}

.login-form p a:hover {
    text-decoration: underline;
}

</style>